.nosotros {

        .imgNosotros {
            width: 300px;
            border-radius:15%;
            padding: 2%;
            margin: 0 5%;
        }
    
    p {
        width: 70%;
        margin: 0 auto;
        padding: 0.5rem;
        text-align: center;
        font-family: $fuenteTitulo;
        color:$colorTitulo;
    }
}


.contenedorVideos {
    padding-top: 2%;
    padding-bottom: 8%;
    
    .videoCreando {
        width: 30%;
        height: 60vh;
        padding: 2%;
    }
}

/*Media Querie Nosotros*/

@media only screen and (max-width: 768px) {
    
    .contenedorVideos {
    .videoCreando {
        width: 80%;
    }
}

}