/*Variables Header*/
$headerBC:rgb(231, 178, 163);

$colorLogo:rgb(253,240,231);
$letraLogo: 'Marck Script', cursive;

$colorNav:rgb(253,240,231);
$fuenteNav:Candara,Arial,sans-serif;

/*variables Index,Nosotros,Tienda,locales,Contacto*/

$colorTitulo:rgb(221,147,127);
$fuenteTitulo: Century Gothic,CenturyGothic,AppleGothic,sans-serif;